rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function self(uid) {
      return signedIn()
        && request.auth.uid == uid;
    }


    match /users/{uid} {

      allow read: if signedIn();

      allow create, update:
        if self(uid);

      allow delete: if false;
    }


    match /chats/{chatId} {

      allow read, create:
        if signedIn();
    }


    match /chats/{chatId}/messages/{messageId} {

      allow read, create:
        if signedIn();

      allow update, delete:
        if false;
    }


    match /groups/{groupId} {

      allow read, create:
        if signedIn();

      allow update, delete:
        if signedIn();
    }


    match /channels/{channelId} {

      allow read, create:
        if signedIn();

      allow update, delete:
        if signedIn();
    }


    match /statuses/{statusId} {

      allow read:
        if signedIn();

      allow create:
        if signedIn()
        && request.resource.data.ownerId == request.auth.uid;

      allow update, delete:
        if signedIn()
        && resource.data.ownerId == request.auth.uid;
    }


    match /usernames/{username} {

      allow read:
        if signedIn();

      allow create:
        if signedIn();

      allow update, delete:
        if signedIn();
    }
  }
}
